.button{
    
    display: grid;
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 5px;
    margin: 5px;
    border: 5px solid black;
}

#gray{
    background-color: gray;
}
#white{
    background-color: white;
 }
#blue{
    background-color: blue;
}
#yellow{
background-color: yellow;
 }
 #purple{
    background-color: purple;
 }
